#login-btn{
    border: none;
  cursor: pointer;
  margin: 0 1rem;
  font-size: 1rem;
  padding: 8px 15px;
  border-radius: 5px;
  color: #fff;
    background: linear-gradient(to right, #117e2c, #117e2c);
}

body {
    background-color: hsla(152, 42%, 45%, 0.751);
    
  }